<div id="authBox" style="display: none"><!--style="display: none"-->
    <!--  -->
    <section class="index-mcont-singlepage index-mcont-login uk-flex uk-flex-center uk-flex-middle">
        <div class="st-optionchart-mcont-singlepage">
            <div class="uk-container-center uk-text-center">
                <p href="#link" class="st-logo" style="margin-bottom: 0px;">
                    <svg version="1.1" id="instaBinary-logo" style="display: none;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" width="200px" height="30px" viewbox="0 0 200 30" enable-background="new 0 0 200 30" xml:space="preserve">
                        <g id="Layer_2" >
                            <path id="logoText1" fill="#FFFFFF" d="M7.363,8.364H3V4.211h4.363V8.364z M7.363,45.321H3V15.216h4.363V45.321z" />
                            <path id="logoText2" fill="#FFFFFF" d="M35.59,45.321h-4.358V25.179c0-3.528-1.66-5.188-4.98-5.188h-4.57c-3.733,0-5.602,2.077-5.602,6.018v19.312h-4.358V15.424h4.358v3.528c1.039-2.494,3.116-3.737,6.019-3.528h5.604c5.397,0,8.1,3.115,8.1,9.13v20.767H35.59z" />
                            <path id="logoText3" fill="#FFFFFF" d="M41.199,45.321v-4.573h14.114c3.112,0,4.775-1.459,4.775-4.146c0-2.501-1.663-3.949-4.567-3.949h-6.852c-5.605,0-8.512-2.903-8.512-8.721c0-5.605,2.907-8.508,8.512-8.716h13.913v4.567H48.044c-2.487,0-3.733,1.243-3.733,3.945		c0,2.903,1.452,4.149,4.358,4.149h6.439c6.015,0,9.131,2.695,8.925,8.303c0,5.819-2.91,8.925-8.925,8.925H41.199V45.321z"                          />
                            <path id="logoText4" fill="#FFFFFF" d="M78.978,45.321h-0.83c-6.848,0-10.172-3.321-10.172-10.175V4.211h4.362v11.004h6.64v4.567h-6.64v15.364	c0,3.732,2.281,5.394,6.64,5.394V45.321z" />
                            <path id="logoText5" fill="#FFFFFF" d="M105.552,45.321H90.393c-5.396,0-8.092-2.913-8.092-8.935c0-5.603,2.9-8.301,8.509-8.301h10.383v-2.702c0-3.528-1.663-5.393-4.987-5.393H83.958v-4.567h12.043c6.432,0.204,9.551,3.528,9.551,10.172V45.321z M101.193,40.748v-8.311		H90.185c-2.483,0-3.529,1.458-3.529,4.165c0,2.687,1.252,3.938,3.737,3.938h10.8V40.748z" />
                            <path id="logoText6" fill="#FFFFFF" d="M110.323,45.321V4.211h4.359v11.213h9.972c5.806,0,8.718,3.32,8.718,9.755v10.796	c0,6.227-2.912,9.346-8.926,9.346H110.323z M114.682,19.783V40.54h10.177c2.903,0,4.359-1.456,4.359-4.359V25.384c0-3.733-1.661-5.602-4.985-5.602H114.682z" />
                            <path id="logoText7" fill="#FFFFFF" d="M142.501,8.364h-4.359V4.211h4.359V8.364z M142.501,45.321h-4.359V15.216h4.359V45.321z" />
                            <path id="logoText8" fill="#FFFFFF" d="M171.357,45.321h-4.36V25.179c0-3.528-1.661-5.188-4.981-5.188h-4.782c-3.734,0-5.603,2.077-5.603,6.018 v19.312h-4.349V15.424h4.349v3.528c1.048-2.494,3.118-3.737,6.021-3.528h5.613c5.393,0,8.092,3.115,8.092,9.13V45.321z" />
                            <path id="logoText9" fill="#FFFFFF" d="M198.347,45.321h-15.16c-5.397,0-8.094-2.913-8.094-8.935c0-5.603,2.904-8.301,8.516-8.301h10.371v-2.702c0-3.528-1.664-5.393-4.977-5.393H176.96v-4.567h12.043c6.433,0.204,9.552,3.528,9.552,10.172v19.725H198.347z M193.979,40.748		v-8.311h-11.203c-2.494,0-3.526,1.458-3.526,4.165c0,2.687,1.235,3.938,3.731,3.938h10.998V40.748z" />
                            <path id="logoText10" fill="#FFFFFF" d="M219.11,19.783h-6.029c-3.941,0-5.811,2.073-5.603,6.435v18.888h-4.36V15.424h4.36v3.732	c0.616-2.49,2.911-3.732,7.262-3.732h4.573v4.358H219.11z" />
                            <path id="logoText11" fill="#FFFFFF" d="M229.276,56.317v-4.574l9.344-0.205c2.483-0.206,3.531-1.447,3.531-3.527v-2.689h-9.139c-6.436,0-9.758-3.743-9.758-11.634V15.424h4.36v18.888c0,4.363,1.661,6.436,4.976,6.436h9.561V15.216h4.35v30.722c0,6.851-2.901,10.38-8.505,10.175L229.276,56.317z" />
                        </g>
                    </svg>
                    <svg id="preloader-logo" style="height: 15px; margin-left: 20px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="70px" >
                        <use id="draw-logo-image" class="animate-draw-logo-image" xlink:href="#st-logo-ifxb-shape" />
                    </svg>
                    <svg id="preloader-logo2" style="width: 95%; margin-left: 55px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="250px"
                        height="50px" viewbox="0 0 250 70" enable-background="new 0 0 250 70" xml:space="preserve">
                          <!-- <use id="draw-logo-Layer_2" class="animate-draw-Layer_2" xlink:href="#Layer_2" />   -->
                          <use id="draw-logo-logoText1" class="animate-draw-logoText1" xlink:href="#logoText1" />
                        <use id="draw-logo-logoText2" class="animate-draw-logoText2" xlink:href="#logoText2" />
                        <use id="draw-logo-logoText3" class="animate-draw-logoText3" xlink:href="#logoText3" />
                        <use id="draw-logo-logoText4" class="animate-draw-logoText4" xlink:href="#logoText4" />
                        <use id="draw-logo-logoText5" class="animate-draw-logoText5" xlink:href="#logoText5" />
                        <use id="draw-logo-logoText6" class="animate-draw-logoText6" xlink:href="#logoText6" />
                        <use id="draw-logo-logoText7" class="animate-draw-logoText7" xlink:href="#logoText7" />
                        <use id="draw-logo-logoText8" class="animate-draw-logoText8" xlink:href="#logoText8" />
                        <use id="draw-logo-logoText9" class="animate-draw-logoText9" xlink:href="#logoText9" />
                        <use id="draw-logo-logoText10" class="animate-draw-logoText10" xlink:href="#logoText10" />
                        <use id="draw-logo-logoText11" class="animate-draw-logoText11" xlink:href="#logoText11" />   
                    </svg>

                </p>
            </div>
            <br>
            <div class="uk-grid-singlepage">
                <div class="uk-panel uk-panel-box uk-panel-box-primary uk-width-medium-1-5 uk-container-center uk-text-center uk-panel-singlepageform">
                    <div class="singlepageform-main-content">
                        <form name="authForm" class="uk-form">
                            <fieldset data-uk-margin ng-disabled="isDisabled">
                                <!---->
                                <div class="uk-form-row uk-form-row-marginbottom">
                                    <label class="label-form-singlepage">Account Number</label>
                                    <input id="userid" name="user" type="text" maxlength="8" oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-model="username"
                                        required class="uk-form-large uk-form-width-full" ng-class="{onprocess: isDisabled}"
                                    />
                                    <!--type="email" ng-pattern="emailFormat"-->
                                </div>
                                <div class="uk-form-row uk-form-row-marginbottom">
                                    <label class="label-form-singlepage">Password</label>
                                    <input name="pass" type="password" required class="uk-form-large uk-form-width-full" ng-model="password" ng-class="{onprocess: isDisabled}"
                                    />
                                </div>
                                <div class="uk-form-row uk-form-row-marginbottom uk-text-left">
                                    <input id="chkRem" ng-click="onChecked()" type="checkbox" ng-model="remember" class="ui-checkboxradio-label " ng-class="{onprocess: isDisabled}"
                                    />
                                    <label for="chkRem" class="label-form-singlepage-inline">Remember me</label>

                                </div>
                                <div class="uk-form-row" ng-class="{disabled: !authForm.$valid, onprocess: isDisabled}">
                                    <a id="login-btn" href="#link" ng-click="login()" class="uk-button uk-form-width-full uk-form-width-full-linkbutton uk-button-success st-notify-action-call"
                                        ng-class="{disabled: !authForm.$valid, onprocess: isDisabled}">Log In</a>
                                    <!-- <label ng-bind="authmsg" class="uk-text-right" style="color: red">{{authmsg}}</label>

                                    <div id="st-modal-login" class="uk-modal st-modal tm-modal">
                                        <div class="uk-modal-dialog">
                                            <a class="uk-modal-close uk-close uk-close-alt"></a>
                                            <div class="uk-modal-header">
                                                <h2><span>{{authmsg}}</span></h2>
                                            </div>
                                            <div class="uk-modal-body uk-text-center">
                                                <p>{{authmsg}}</p>
                                                <div class="uk-panel uk-panel-box">
                                                    <p><i class="uk-icon-info-circle"></i> {{authmsg}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <br>
                                <p><a href="#" ng-class="{onprocess: isDisabled}">Forgot Password?</a><br><a href="#" ng-class="{onprocess: isDisabled}"
                                        ng-click="onCreateDemo()">No account yet? Create yours now!</a></p>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>