<section id="ChartDashboard" class="index-mcont st-top-ruler">
    <div class="uk-panel uk-panel-box st-sidebar-nav-mcont">
        <span class="uk-icon-close"></span>
        <div id="st-sidebar-nav-switcher" class="uk-switcher uk-panel-body">
            <div class="animated-fast fadeInLeft">
                <h3 class="st-sidebar-nav-head"><span class="st-fonticon-openoption"></span> <span>open option</span></h3>
                <div class="st-sidebar-nav-body">Platea arcu mus! Enim et</div>

            </div>
            <div class="animated-fast fadeInLeft">
                <h3 class="st-sidebar-nav-head"><span class="st-fonticon-tradinghistory"></span> <span>trading history</span></h3>
                <div class="st-sidebar-nav-body">Platea duis tempor porttitor sed ut aliquam nunc urna odio massa aenean nisi enim, penatibus magna nunc a!
                    Scelerisque purus facilisis! Scelerisque, auctor in, cum elit ultricies, pellentesque duis magna, ridiculus
                    duis magna pulvinar tincidunt! Nunc. Mauris vut urna lacus cum sagittis etiam augue, scelerisque sed
                    arcu mus! Enim et</div>

            </div>
            <div class="animated-fast fadeInLeft">
                <h3 class="st-sidebar-nav-head"><span class="st-fonticon-help"></span> <span>help</span></h3>
                <div class="st-sidebar-nav-body">Platea duis tempor porttitor sed ut aliquam nunc urna odio massa aenean nisi enim, penatibus magna nunc a!
                    Scelerisque purus facilisis! Scelerisque, auctor in, cum elit ultricies, pellentesque duis magna, ridiculus
                    duis magna pulvinar tincidunt! Nunc. Mauris vut urna lacus cum sagittis etiam augue, scelerisque sed
                    arcu mus! Enim et</div>
            </div>
            <div class="animated-fast fadeInLeft">
                <h3 class="st-sidebar-nav-head"><span class="uk-icon-support"></span> <span>support</span></h3>
                <div class="st-sidebar-nav-body">Platea duis tempor porttitor sed ut aliquam nunc urna odio massa aenean nisi enim, penatibus magna nunc a!
                    Scelerisque purus facilisis! Scelerisque, auctor in, cum elit ultricies, pellentesque duis magna, ridiculus
                    duis magna pulvinar tincidunt! Nunc. Mauris vut urna lacus cum sagittis etiam augue, scelerisque sed
                    arcu mus! Enim et</div>
            </div>
        </div>

    </div>
</section>