<div class="st-offcanvas-body">
    <form class="uk-form">
        <input type="text" ng-model="symfil" class="uk-width uk-icon-search" placeholder="Search symbol" >
    </form>
    <div class="st-offcanvas-body-box scrollbar2" id="style-3">
        <div class="force-overflow2">
             <!-- <div class="uk-offcanvas-close" ng-repeat="item in ListofSymbols  | orderBy:'GroupName' | groupBy:'GroupName' | filter:symfil">
                <h3 ng-show="item.GroupName_CHANGED" style="margin-top:15px; text-align: center; color: #afafaf;">{{(item.GroupName == 'Default' ? 'Other Symbols' : item.GroupName + ' Symbols')}}</h3>
                <ul class="uk-list uk-list-striped st-list-opennewasset st-tradinghistory-details  " style="margin:2px 0px; ">
                    <li class="st-list-compressed uk-offcanvas-close" ng-click="AddSymbol(item)">
                        <div class="uk-flex uk-flex-middle  uk-grid uk-offcanvas-close" style="margin-left: -10px !important;">
                            <div style="margin-left: 5px;" class="uk-flex uk-flex-left  uk-grid-small   animated fadeInLeft uk-offcanvas-close" >
                                <span class="st-list-opennewasset-flag {{item.SymbolName}} uk-offcanvas-close"></span>
                                <div class="st-list-opennewasset-text uk-offcanvas-close">
                                    <span class="uk-offcanvas-close">{{item.SymbolName}}</span>
                                    <span>{{item.FastPercentageValue + '%'}}</span>
                                </div>
                            </div>
                            <!-- <div><span class="uk-icon-button uk-icon-plus uk-offcanvas-close" ng-click="AddSymbol(item)"></span></div> -->
                        </div>
                    </li>
                </ul>
            </div>  -->
        </div>
    </div>
</div>